bin/
Include/
lib/
lib/python3.9/
share/
__pycache__/
*.py[cod]
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.log
*.pot
docs/_build/
.DS_Store
lib/.DS_Store



lib/.DS_Store
lib/python3.9/site-packages/pandas/.DS_Store
lib/python3.9/site-packages/.DS_Store
lib/python3.9/.DS_Store
lib/.DS_Store
.DS_Store
.DS_Store
lib/python3.9/.DS_Store
